<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/static/style.css">
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <title>Document</title>
</head>
<body>
   <h1>[[.Title ]] </h1>
   <div id="app">
      <h1>{{message}} </h1>
   </div>

<script type="text/javascript">
    let app = new Vue({
        el: '#app',
        data: {
            message: 'Front-end from Vue!'
        }
    })

</script>
</body>
</html>